* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#app {
  margin-top: 50px;
}

.clndr-controls div {
  background: green;
  display: inline-block;
  width: 30%;
  padding:5px;
  text-align: center;
  cursor: pointer;
}

.clndr-controls .current-month {
  width: 40%;
  background: pink;
}

.clndr {
  width: 700px;
  margin: 0 auto;
  background: red;
}

.clndr-grid {
  text-align: center;
  background: yellow;
}

.clndr-grid .days div {
  float: left;
  width: 100px;
  height: 50px;
  line-height: 50px;
  background: #eee;
  border: 1px solid #ddd;
}

.prev-month, .next-month {
  color: #ccc;
}

.clearfix {
  clear: both;
}
