{
  "extends": [
    "react-app",
    "plugin:react/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": ["react", "prettier", "import"],
  "rules": {
    "prettier/prettier": [2, { "singleQuote": true }]
  },
  "env": {
    "browser": true,
    "jest": true
  }
}