* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  color: #444;
}

#calendar {
  width: 640px;
  height: 480px;
  margin: 100px auto;
}

.Calendar-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.Calendar-header {
  height: 50px;
  color: #666;
  text-align: center;
  line-height: 50px;
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: bold;
}

.Calendar-header button {
  /*width: 50px;*/
  font-size: 20px;
  border: 0;
  background: transparent;
  color: #666;
  cursor: pointer;
  outline: 0;
}

.Calendar-header button:hover,
.Calendar-header button:focus,
.Calendar-header button:active {
    outline: 0;
}

.Calendar-months {
  background-color: #efefef;
  margin-top: 20px;
}

.Calendar-days {
  margin-top: 20px;
}

.Calendar-grid-item {
  flex: 0 14.28571%;
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Calendar-grid-item:nth-child(7n+1) {
}

.Calendar-grid-item:nth-child(-n+7) {
}

.Calendar-grid-item.Calendar-month-item {
  font-weight: bold;
}
